<!DOCTYPE html>
<!--
File Name: ok.html
Date: 08/10/18
Programmer: Misti D.
-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Niconne" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/generic.css" rel="stylesheet" type="text/css">
    <link href="css/grid.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">


    <script src="https://use.fontawesome.com/3047166c2e.js"></script>

</head>

<!-- top section -->

<body>
    <div id="container">
        <header>

            <!-- Logo -->

            <img src="images/placeholder.jpg" id="logo" alt="Ace in the Hole Logo">

            <!-- Responsive Navigation -->

            <nav class="topnav" id="myTopnav">

                <ul>
                    <li><a href="template.html.html">Home</a></li>
                    <li><a href="registration.html">Events</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="#">About</a></li>
                    <li>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><img src="images/nav.png" class="navicon"></a>
                    </li>
                </ul>
            </nav>

            <!-- Mobile Nav Hamburger Menu Script -->

            <script>
                function myFunction() {
                    var x = document.getElementById("myTopnav");
                    if (x.className === "topnav") {
                        x.className += " responsive";
                    } else {
                        x.className = "topnav";
                    }
                }

            </script>

        </header>

<main>
	<img src="images/intouch.jpg" width="75%" alt="Assistance">
		<h1>Thank you for contacting us!</h1>
			<h2>We'll be in touch shortly...</h2>
</div>
</main>

<!-- footer -->
        <footer>

            <!-- Contact Information  -->

            <div id="contact">
                <h3>123 Main St. #345</h3>
                <h3>Anytown, OR 97200</h3>
                <h3>(503) 555-1212</h3>
                <h3><a href="">email@address.com</a></h3>
            </div>

            <!-- SOCIAL ICONS BELOW ARE PLACEHOLDERS AWAITING ACTIVE LINKS -->

            <div id="social">
                <a href="" class="socicon"> <i class="fa fa-facebook fa-3x"></i></a>
                <a href="" class="socicon"> <i class="fa fa-twitter fa-3x"></i></a>
                <a href="" class="socicon"> <i class="fa fa-instagram fa-3x"></i></a>
            </div>

            <copyright>Copyright &copy; 2018 Ace in the Hole Multisport Events. Designed by Fictitious Design Co.</copyright>

        </footer>

</div>
</body>
</html>