<!DOCTYPE html>
<html>

<!-- File Name: template.html -->
<!-- Date: 08/03/18 -->
<!-- Author: Misti D. -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Ace in the Hole Multisports Events</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Niconne" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/generic.css" rel="stylesheet" type="text/css">
    <link href="css/grid.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">


    <script src="https://use.fontawesome.com/3047166c2e.js"></script>

</head>

<!-- top section -->

<body>
    <div id="container">
        <header>

            <!-- Logo -->

            <img src="images/placeholder.jpg" id="logo" alt="Ace in the Hole Logo">

            <!-- Responsive Navigation -->

            <nav class="topnav" id="myTopnav">

                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                    <li>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><img src="images/nav.png" class="navicon"></a>
                    </li>
                </ul>
            </nav>

            <!-- Mobile Nav Hamburger Menu Script -->

            <script>
                function myFunction() {
                    var x = document.getElementById("myTopnav");
                    if (x.className === "topnav") {
                        x.className += " responsive";
                    } else {
                        x.className = "topnav";
                    }
                }

            </script>

        </header>

        <!-- Headline -->
        <div id="headline">

            <h1>Headline Text</h1>

        </div>

        <!-- Responsive Hero Image (will be used on most pages) -->

        <div id="hero">
            <a href="#"></a><img src="images/placeholderhero.png" alt="image placeholder"></div>


        <!-- main section -->

        <main>

            <section id="main">


                <h2>Headline Text</h2>


                <p>Lorem ipsum dolor sit amet, sit nonumy melius at. In possit legendos interpretaris ius. Ex purto ludus veritus eam, ut autem mediocritatem vis. Dicta laoreet minimum an nec, an eos dicit alienum reprimique. In sapientem pertinacia pri, his cetero vidisse suscipiantur no.</p>

                <p>Ex deleniti gloriatur mel, at vidit iriure eos. Ea sumo mazim percipitur pri. Mel ne ferri laudem placerat, no aeterno delicatissimi mei. Nobis sanctus nominavi ut eum, amet inermis expetenda cu ius, an legere discere eos.</p>

                <p>Et sed imperdiet intellegat, esse facer mandamus ei nam. Id quas mundi perfecto mea, pri ut brute everti recteque. An vel choro albucius, in quo semper putant explicari. No ius explicari scribentur, usu etiam vidisse recteque ex. Ea sea utinam verterem, eu mea fugit luptatum.</p>


            </section>


            <!-- Featured Images (added on per page basis) -->

            <section id="featuredimg" class="section group">
                <div class="col span_1_of_3">
                    <img src="images/placeholderlarge.png" alt="image placeholder">
                </div>

                <div class="col span_1_of_3">
                    <img src="images/placeholderlarge.png" alt="image placeholder">
                </div>

                <div class="col span_1_of_3">
                    <img src="images/placeholderlarge.png" alt="image placeholder">
                </div>
            </section>


        </main>

        <!-- footer -->
        <footer>

            <!-- Contact Information  -->

            <div id="contact">
                <h3>123 Main St. #345</h3>
                <h3>Anytown, OR 97200</h3>
                <h3>(503) 555-1212</h3>
                <h3><a href="">email@address.com</a></h3>
            </div>

            <!-- SOCIAL ICONS BELOW ARE PLACEHOLDERS AWAITING ACTIVE LINKS -->

            <div id="social">
                <a href="" class="socicon"> <i class="fa fa-facebook fa-3x"></i></a>
                <a href="" class="socicon"> <i class="fa fa-twitter fa-3x"></i></a>
                <a href="" class="socicon"> <i class="fa fa-instagram fa-3x"></i></a>
            </div>

            <copyright>Copyright &copy; 2018 Ace in the Hole Multisport Events. Designed by Fictitious Design Co.</copyright>

        </footer>

    </div>
    
</body>

</html>
